{% include "base.html"%}
{% load static %}


<section class="advanced-foundation">
    <div class="container-fluid">
        <div  class="row">
            <div class="col-sm-12">
                
              <h1 style="color: rgb(1, 1, 49);font-family: system-ui;margin-top: 4rem;font-size: 3.2rem;text-align: center;">Advanced Level</h1>
            </div>
        </div>
        <hr style="color:rgb(45, 196, 45);height: 0.5rem;" class="advanced-line">
        <div class="row">
            <div class="col-sm-12">
                <p style="margin-top: 3rem;">Advanced Level is the second level of the course which helps you to become an expert career coach. This level has a duration of two months which includes a 20 hours training session. Apart from providing interactive video sessions and personalised learning portals, the training session also provides entrance, scholarship programs, and study abroad facilities in addition. This level helps you to utilise the professional possibilities of the career counselling field.

                    The Advanced Level helps you in utilising your knowledge in career counselling as a profession. The scope and opportunity of this field is growing on a daily basis and in the coming days there will be a situation when a career counsellor in an institution or company is inevitable. In such a case, this level is going to be a boon for you as it helps you to take it to your professional level. Hence, a deep knowledge in this area along with guiding the students to the right career will also create more career opportunities thus lowering the chances of unemployment.
                    </p>
            </div>
        </div>
    </div>
    </section>
    
    


    