<footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic" style="font-family: 'Bebas Neue', cursive;">About us</div>
          <p>CodingLab is a channel where you can learn HTML,
          CSS, and also JavaScript along with creative CSS Animations and Effects.</p>
        </div>
      </div>
      <div class="middle box">
        <div class="topic" style="font-family: 'Bebas Neue', cursive;">Our Services</div>
        <div><a href="#" style="text-decoration: none;">Web Design, Development</a></div>
        <div><a href="#" style="text-decoration: none;">Web UX Design, Reasearch</a></div>
        <div><a href="#" style="text-decoration: none;">Web User Interface Design</a></div>
        <div><a href="#" style="text-decoration: none;">Theme Development, Design</a></div>
        <div><a href="#" style="text-decoration: none;">Mobile Application Design</a></div>
        <div><a href="#" style="text-decoration: none;">Wire raming & Prototyping</a></div>
      </div>
      <div class="right box">
        <div class="topic"style="font-family: 'Bebas Neue', cursive;">Subscribe us</div>
          <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        <div class="lower">
          <div class="topic" style="font-family: 'Bebas Neue', cursive;">Contact us</div>
          <div class="phone">
            <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
          </div>
          <div class="email">
            <a href="#"><i class="fas fa-envelope"></i>itechacademy11@gmail.com</a>
          </div>
        </div>

      </div>
    </div>
  </footer>